<div class="notification is-primary">
  <button class="delete"></button>
  Primar lorem ipsum dolor sit amet, consectetur adipiscing elit lorem ipsum
  dolor. <strong>Pellentesque risus mi</strong>, tempus quis placerat ut, porta
  nec nulla. Vestibulum rhoncus ac ex sit amet fringilla. Nullam gravida purus
  diam, et dictum <a>felis venenatis</a> efficitur. Sit amet, consectetur
  adipiscing elit
</div>

<div class="field has-addons">
  <div class="control">
    <input class="input" type="text" placeholder="Message" />
  </div>
  <div class="control">
    <a class="button is-info" (click)="sendMessage()">
      Send
    </a>
  </div>
</div>
